@config "./tailwind.config.js";
@import "tailwindcss";

body {
  direction: rtl;
  font-family: "iranyekan", sans-serif;
}

@font-face {
  font-family: "iranyekan";
  src: url("/assets/Fonts/Qs_Iranyekan.ttf") format("truetype");
}


* {
  font-family: iranyekan, sans-serif;
}


::placeholder {
  font-size: 13px !important;
}
