@config "./tailwind.config.js";
@import "tailwindcss";

body {
  direction: rtl;
}

@font-face {
  font-family: iranyekan;
  src: url("../public/assets/Fonts/Qs_Iranyekan.ttf") format("truetype");
}

* {
  font-family: iranyekan, sans-serif;
}


::placeholder {
  font-size: 13px !important;
}
